/*------------------------------------*\
    INDEX PAGE
\*------------------------------------*/
.news-wrap {

  padding-top: 40px;
  padding-bottom: 40px;

  .clearfix;

  .main-news {

    width: 1060px;
    margin: auto;

    .clearfix;

    .order-1 {

      float: left;
      width: 490px;
      margin-right: 40px;

      .news-card {

        .news-image {
          margin-bottom: 15px;
          img {
            width: 490px;
            height: 330px;
          }
        }

        .rubric {
          margin-bottom: 15px;
        }

        .title {
          margin-bottom: 15px;
          a {
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
          }
        }

        .description {
          margin-bottom: 20px;
          font-size: 18px;
          line-height: 25px;
        }

      }

    }

    .order-2 {

      float: left;
      width: 530px;

      .news-card {
        width: 245px;
        float: left;
        margin-right: 40px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .news-image {
          img {
            width: 245px;
          }
        }

        .title {
          a {
            line-height: 22px;
            font-weight: 400;
          }
        }

      }

    }

  }

  .all-news {
    margin-top: 20px;
  }

}


.projects-wrap {

  position: relative;

  height: 470px;

  overflow: hidden;

  .projects-box {

    position: absolute;
    top: 0;
    right: 50%;

    width: 3846px;
    height: 470px;

    .projects {

      position: absolute;
      //top: 0;
      //right: 50%;

      width: 3846px;
      height: 470px;

      cursor: move;

      .source {
        display: block;
      }

      .pin {

        position: absolute;
        top: 100px;
        left: 900px;

        width: 20px;
        height: 20px;

        box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
        border-radius: 50%;
        background-color: rgba(232,76,61,.6);
        border: 2px solid rgba(232,76,61,.8);

        display: block;

        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

        cursor: pointer;

        &.pin-airport { top: 237px; left: 3242px; }
        &.pin-trams {
          left: 3362px;
          top: 395px;
        }
        &.pin-trees-1 {
          left: 3083px;
          top: 391px;
        }
        &.pin-stadium {
          left: 2728px;
          top: 254px;
        }
        &.pin-canat-1 {
          left: 2808px;
          top: 57px;
        }
        &.pin-stella-1 {
          left: 2473px;
          top: 94px;
        }
        &.pin-theatre {
          left: 2042px;
          top: 175px;
        }
        &.pin-most {
          left: 1733px;
          top: 293px;
        }
        &.pin-trees-2 {
          left: 1675px;
          top: 402px;
        }
        &.pin-canat-2 {
          left: 1480px;
          top: 96px;
        }
        &.pin-hotel {
          left: 1287px;
          top: 287px;
        }
        &.pin-bereg-1 {
          left: 1133px;
          top: 290px;
        }
        &.pin-homes {
          left: 1028px;
          top: 194px;
        }
        &.pin-business {
          left: 791px;
          top: 114px;
        }
        &.pin-trees-3 {
          left: 687px;
          top: 377px;
        }
        &.pin-bereg-2 {
          left: 445px;
          top: 313px;
        }
        &.pin-stella-2 {
          left: 145px;
          top: 316px;
        }

        .copy {

          position: absolute;

          top: 30px;
          right: 0;

          width: 200px;

          padding: 7px;
          color: @holy-light;
          font-size: 12px;

          border-radius: 2px;

          background-color: rgba(232,76,61,.8);

          opacity: 0;
          .transition(.5s,ease);
          transform: scale(0);
          transition-property: opacity;

          &.facing-up {
            top: auto;
            bottom: 30px;
          }

          &.facing-left {
            right: auto;
            left: 0;
          }

        }

        &:hover {

          .copy {
            transform: scale(1);
            opacity: 1;
          }

        }

      }

    }

  }

}


.stats-wrap {

  position: relative;
  height: 460px;

  .stat-category-list {

    position: absolute;
    top: 40px;
    left: 30px;

    .stat-category {

      width: 54px;
      height: 54px;
      color: @holy-light;
      background: @teal;
      cursor: pointer;
      border-bottom: 1px solid #a9e2f1;

      &:hover, &.active {
        background: @dark-teal;
      }

      .icon {
        display: block;
        width: 54px;
        height: 54px;
        line-height: 53px;
        text-align: center;
        font-size: 28px;
      }

    }

  }

  .stat-display-list {

    .stat-img {
      display: none;
      &.active {
        display: block;
      }
    }

  }


}

// Cards
.cards-wrap {

  background: #f1f0f0;

  .crate {
    padding-top: 60px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 70px;
  }

  .cards {

    .clearfix;
    perspective: 1800px;

    >li {

      float: left;
      position: relative;
      width: 330px;
      height: 390px;
      margin-bottom: 15px;
      &:not(:nth-child(3n+3)) {
        margin-right: 15px;
      }

      // transform
      transform-style: preserve-3d;
      transition: transform 550ms ease-in-out;

      .front-side, .back-side {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 20px;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
      }

      .front-side {
        background: @holy-light;
        .card-image img {
          display: block;
          width: 290px;
          height: 290px;
        }
        .card-title {
          margin-top: 25px;
          text-align: center;
          text-transform: uppercase;
        }
      }

      .back-side {

        transform: rotateY(-180deg);
        background: @holy-light;

        .title {
          margin-top: 5px;
          margin-bottom: 10px;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
        }

        .card-image-thin {
          display: block;
          img {
            display: block;
            width: 290px;
            height: 135px;
          }
        }

        .additional-info {
          margin-top: 10px;
          .btn {
            text-transform: uppercase;
            margin-right: 11px;
          }
        }

        .description {
          margin-top: 13px;
          max-height: 80px;
          overflow: hidden;
          font-weight: 500;
        }

        .forum-posts {
          .post-link {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid @e5;
            a {
              display: block;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: 500;
            }
          }
        }

        .vote {
          .question {
            padding-top: 10px;
            font-weight: 500;
          }
          .answers {
            margin-top: 25px;
            margin-bottom: 35px;
            .answer {
              margin-bottom: 10px;
            }
          }
        }

        .card-link {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          text-align: center;
          font-size: 70px;
          height: 70px;
        }

      }

      &:hover {
        transform: rotateY(-180deg);
      }

    }

  }

}

// feature slider
.feature-slider-box {
  background: #fbfafa;
}
.feature-slider-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
}

// Panorama
.panorama {

  position: relative;
  width: 100%;
  overflow: hidden;

  height: 469px;
  background: url("../img/office-bg.jpg") repeat-x;

  text-align: center;

  img {
    position: absolute;
    margin-left: -960px;
  }

}