/*------------------------------------*\
    GENERAL PAGE STLES
\*------------------------------------*/
.page {

  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;

  .with-share-panel {
    padding-left: 210px;
  }

  .col-full {
    position: relative;
    float: left;
    width: 100%;
  }

  .col-large {

    position: relative;
    float: left;
    width: @col-large-width;

    &.with-padding {
      padding-right: 30px
    }

  }

  .col-half {
    float: left;
    width: 50%;
    padding-right: 30px;
  }

    .col-doc {
      float: left;
      width: 930px;
    }

  .col-side {
    float: left;
    width: @col-side-width;
    border-left: 1px solid @e5;
  }

    .col-third {
      float: left;
      width: 33.33333%;
      padding-left: 15px;
      padding-right: 15px;
      &.no-padding {
        padding-left: 0;
        padding-right: 0;
      }
    }

  .share-panel-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
  }

  .page-copy {
    padding-right: 20px;
    border-right: 1px solid @e5;
    &.no-border {
      border-right: none;
    }
  }

  .clearfix;

}

.row {
  width: 100%;
  .clearfix;
}

/*------------------------------------*\
    HERO BLOCK FOR NEWS ETC
\*------------------------------------*/
.hero-image {
  position: relative;
  margin-bottom: 28px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 150px;
    padding-left: 75px;
    padding-right: 400px;
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    color: @holy-light;
    .gradient(transparent, rgba(0,0,0,.85), transparent);
  }
  &.no-image {
    padding-left: 210px;
    .title {
      position: relative;
      bottom: auto;
      left: auto;
      right: auto;
      padding: 0;
      padding-right: 300px;
      background: @holy-light;
      color: @pitch-black;
    }
  }
}

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}
@keyframes cloud {
  0%   {
    transform: translate(0,0);
  }
  50% {
    transform: translate(120px,0);
  }
  100% {
    transform: translate(0,0);
  }
}

@keyframes cloud-2 {
  0%   {
    transform: translate(0,0);
  }
  50% {
    transform: translate(-120px,0);
  }
  100% {
    transform: translate(0,0);
  }
}

@keyframes bird {
  0%   {
    transform: translate(0,0) rotateY(0deg);
  }
  1% {
    transform: translate(0,0) rotateY(180deg);
  }
  50% {
    transform: translate(-80px,0) rotateY(180deg);
  }
  51% {
    transform: translate(-80px,0) rotateY(0deg);
  }
  100% {
    transform: translate(0,0) rotateY(0deg);
  }
}

/*------------------------------------*\
    PRESS CENTER GRID
\*------------------------------------*/
.press-center-item {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid @e5;
  &:last-child {
    border-bottom: none;
  }
}

/*------------------------------------*\
    ORGANISATIONS LIST
\*------------------------------------*/

.org-grid {
  padding-right: 20px;
}

.organisation-card {

  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid @e5;

  &:last-child {
    border-bottom: none;
  }

  .clearfix;

  .org-info {

    float: left;
    width: 63%;
    padding-right: 70px;

    .title {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
    }

    .description {}

  }

  .org-contact {

    float: left;
    width: 37%;

    .contact-group {

      margin-bottom: 13px;
      &:last-child {
        margin-bottom: 0;
      }

      .group-name {
        font-size: 12px;
        line-height: 15px;
        color: @bc;
        text-transform: uppercase;
        font-weight: 500;
      }

    }

  }

}

/*------------------------------------*\
    SITUATION CENTER LIST
\*------------------------------------*/
.situation-card {

  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid @e5;

  .place {
    text-transform: uppercase;
    font-size: 12px;
    color: @bc;
    margin-bottom: 7px;
  }

  .title {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  .date {
    margin-bottom: 7px;
    font-weight: 500;
  }

  &:last-child {
    border-bottom: none;
  }

}

/*------------------------------------*\
    DOCUMENTS SEARCH FORM
\*------------------------------------*/
.document-search {
  .name-type {
    .radio {
      margin-right: 30px;
    }
  }
  .dates {
    .form-element {
      display: inline-block;
      width: 210px;
    }
    .separator {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

/*------------------------------------*\
    DOCUMENTS TABLE
\*------------------------------------*/
.doc-table {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #cbcbcb;
  td {
    padding: 17px 20px 15px;
    border: 1px solid #cbcbcb;
    &:first-child {
      background: #f3f3f3;
      width: 25%;
    }
  }
}

/*------------------------------------*\
    DOCUMENTS DISCUSSION LIST
\*------------------------------------*/
.doc-discuss {
  .entry {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid @e5;
    .date {
      opacity: .6;
    }
    .author {
      font-weight: 500;
      margin-bottom: 10px;
    }
    .status {
      float: right;
      color: @bc;
      font-weight: 500;
      &.go {
        color: @dark-teal;
      }
      &.nogo {
        color: @orange;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

/*------------------------------------*\
    PHOTO GALLERY LIST
\*------------------------------------*/
.photo-gallery {

  margin-bottom: 30px;
  .clearfix;

  .gallery {

    position: relative;
    float: left;
    width: 360px;
    height: auto;
    min-height: 130px;
    overflow: hidden;

    //margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    .gallery-hero-image {
      display: block;
      width: 100%;
      height: auto;
      .transition(.4s,ease-out);
    }

    .description {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;

      .details {
        position: absolute;
        bottom: 100%;
        padding: 30px;
        padding-top: 0;
        padding-bottom: 25px;
        opacity: 0;
        .transition(.5s,ease);
        .author {
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          color: #d7d7d7;
          margin-bottom: 5px;
        }
        .title {
          font-size: 18px;
          line-height: 24px;
          font-weight: 500;
          color: @holy-light;
        }
      }

    }

    &:hover {
      .gallery-hero-image {
        transform: scale(1.1);
      }
      .description {
        .gradient(transparent, rgba(0,0,0,.60), transparent);
        .details {
          bottom: 0;
          opacity: 1;
        }
      }
    }

  }

}
